:root {
  //基本样式
  --bg-white: #fff;
  --bg-grey: #F6F7F9;
  --bg-grey-hover: #d6d6d6;
  --text-blue: #1B9AEE;
  --text-grey: #808080;
  --line-grey: #BBBBBB;
  --line-grey-light: #dfdfdf;

  //导航栏
  --nav-text-black: #777c88;

  //按钮
  --LButton-bg: #F7F7F7;

  //课程
  --hight-level: #D03049;
  --middle-level: #F0A049;
  --low-level: transparant;

  //学生端作业列表
  --hw-bg: #ECECEC;
  --hw-text: #000000;
  --hw-bg-deadline1: #FFD6D2;
  --hw-text-deadline1: #FF2547;
  --hw-bg-deadline2: #FEE4CB;
  --hw-text-deadline2: #FF942E;
}