:root {
  //基本样式
  --bg-white: #fff;
  --bg-grey: #F6F7F9;
  --text-blue: #1B9AEE;
  --text-grey: #808080;
  --line-grey: #BBBBBB;

  //导航栏
  --nav-text-black: #777c88;

  //学生端作业列表
  --hw-bg: #ECECEC;
  --hw-text: #000000;
  --hw-bg-deadline1: #FFD6D2;
  --hw-text-deadline1: #FF2547;
  --hw-bg-deadline2: #FEE4CB;
  --hw-text-deadline2: #FF942E;
}